.rightStatisticsSection {
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25), inset 0px -3px 2px 0px rgba(0, 0, 0, 0.1);
    background: linear-gradient(-83.72deg, rgb(46, 23, 70) 3.204%, rgb(46, 34, 95) 99.979%);
    width: 1000px;
    padding: 30px;
    position: absolute;
    bottom: -74px;
    left: 480px;
    height: 638px;
    width: 979px;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    overflow-y: auto;
    padding-bottom: 60px;
    max-height: calc(100% - 80px);
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 3fr 1fr auto;
    background-color: #1f1b2e;
    padding: 15px 10px;
    border-radius: 8px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
}

.headerItem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.record {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 3fr 1fr auto;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
}

.date, .type, .category, .comment {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: white;
    text-align: center;
}

.sum {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: rgb(255, 134, 141);
    text-align: center;
}

.sumUnique {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: rgb(255, 182, 39);
    text-align: center;
}
